.home {
  display: flex;
  flex-wrap: wrap;
  &__left {
    width: 100%;
    @media screen and (min-width: 1024px) {
      width: 50%;
    }
  }
  &__right {
    width: 100%;
    @media screen and (min-width: 1024px) {
      width: 50%;
    }
  }
}
